.Header{
  width: 100%;
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__buttons-container{
    height: 100%;
    display: flex;
    align-items: center;
  }
}