.Header{
  position: relative;
  width: 100%;
  padding-block: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__buttons-container{
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__title{
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}